@import "functions";

@mixin tighter($width) {
    @media (max-width: #{$width - 1}px) {
        @content;
    }
}

@mixin wider($width) {
    @media (min-width: #{$width}px) {
        @content;
    }
}

$small: 520;
$mobile: 768;
$tablet: 992;
$wide: 1170;

@mixin small() {
    @include tighter($small) {
        @content;
    }
}

@mixin mobile() {
    @include tighter($mobile) {
        @content;
    }
}

@mixin wider-than-mobile {
    @include wider($mobile) {
        @content;
    }
}

@mixin tablet() {
    @include tighter($tablet) {
        @content;
    }
}

@mixin wider-than-tablet() {
    @include wider($tablet) {
        @content;
    }
}

@mixin wide() {
    @include tighter($wide) {
        @content;
    }
}

@mixin wider-than-wide() {
    @include wider($wide) {
        @content;
    }
}

@mixin container-tighter($width, $container: "") {
    @container #{$container} (max-width: #{$width - 1}px) {
        @content;
    }
}

@mixin container-wider($width, $container: "") {
    @container #{$container} (min-width: #{$width}px) {
        @content;
    }
}

@mixin container-small() {
    @include container-tighter($small) {
        @content;
    }
}

@mixin container-mobile() {
    @include container-tighter($mobile) {
        @content;
    }
}

@mixin container-wider-than-mobile {
    @include container-wider($mobile) {
        @content;
    }
}

@mixin container-tablet() {
    @include container-tighter($tablet) {
        @content;
    }
}

@mixin size($height, $width: $height) {
    block-size: rm($height);
    inline-size: rm($width);
}

@mixin icon($size) {
    @include size($size);
    font-size: rm($size);
    line-height: rm($size);
}

@mixin noScrollbars() {
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
}

@mixin ellipsis($nowrap: true) {
    overflow: hidden;
    text-overflow: ellipsis;
    @if($nowrap) {
        white-space: nowrap;
    }
}